<!DOCTYPE html>
<html>
<head
    <meta charset = "utf-8">
    <title>Thread Activity</title>
    <link rel ="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>
<body class="container">
    <h1>
        THREAD ACTIVITY
        
        <a href="/threads/create" class="btn btn-primary pull-right">
            ADD
          </a>
          <a href="/users/logout" class="btn btn-primary pull-right">
            LOG OUT
          </a>  
          <a href="/users/login" class="btn btn-primary pull-right">
            LOG IN
          </a>
          <a href="/users/signup" class="btn btn-primary pull-right">
            SIGN UP
          </a>  
    </h1>
</body>
</html>