<% include header %>
<form method="post" role="form">

<div class="form-group">
    <label for="username">Username:</label>

    <input type="text" class="form-control" id="username"
     name="username" placeholder="Insert username here" required>
  </div>
  <div class="form-group">

    <div class="form-group">
    <label for="password">Password:</label>

    <input type="password" class="form-control" id="password"
     name="password" placeholder="Insert password here" required>
  </div>
  <div class="form-group">

    
<input type="submit" value="LOG IN" class="btn btn-primary">

<a href= '/threads'class="btn btn-primary pull-right">
  BACK
</a>
<% include footer %>