<% include header %>
<form method="post" role="form">

<div class="form-group">
    <label for="username">Username:</label>

    <input type="text" class="form-control" id="username"
     name="username" placeholder="Insert username here" required>
  </div>
  <div class="form-group">

    <div class="form-group">
    <label for="password">Password:</label>

    <input type="password" class="form-control" id="password"
     name="password" placeholder="Insert password here" required>
  </div>
  <div class="form-group">

    <div class="form-group">
    <label for="firstname">First name:</label>

    <input type="text" class="form-control" id="firstname"
     name="firstname" placeholder="Insert first name here" required>
  </div>
  <div class="form-group">

    <div class="form-group">
    <label for="lastname">Last name:</label>

    <input type="text" class="form-control" id="lastname"
     name="lastname" placeholder="Insert last name here" required>
  </div>
  <div class="form-group">


<input type="submit" value="SAVE" class="btn btn-primary">
  
</form>

<a href= "/threads" class="btn btn-primary pull-right">
  BACK
</a>


<% include footer %>